p,a{
    font-family: Arial, Helvetica, sans-serif ;
    text-decoration: none;
}

.instagram-main{
    display:flex;
    border-style: hidden;
    height: 35%;
    background-color: whitesmoke;
    margin-top: 1%;

}
/*class celular*/
.celular-imagem-imagem{
    height: 600px;
    width: 150%;
    margin-top: 1%;
}

/*referente ao classe instagram-account abaixo*/
.instagram-account{
    width:70%;
    margin-top: 8%;
    margin-left: 2%;
    margin-bottom: 2%;
}
/* referente ao class last-account abaixo*/
.last-account{
    display:flex;
    border-style: groove;
    border:  60px 40px 20px 30px;
    flex-direction: column;
    align-items:center;
    width:55%;
    background-color: white;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    

}
.logo-instagram{
    margin-top: 7%;
}

.button-account{
    margin: 2%;
    padding: 1%;
}

.href-account{
    margin:5%;
    text-decoration: none;
}

.perfil-imagem{
    border-style: hidden;
     border-radius: 50%;
     width: 45%;
     height: 45%;
    margin-left: 85px;
}

/* referente a classe sign-up abaixo*/

.sign-up{
    border-style: groove;
    background-color: white;
    width:55%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif ;
  
    
}

.pergunta{
    display:flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: -7%;
}
.opçoes{
    margin-top: -6%;
    margin-bottom: 3%;
    display:flex;
    justify-content: center;
}

/* phrase-app abaixo*/

.phrase-app{
    display: flex;
    justify-content: center;
    margin-left: -45%;
}

/*buttons-to app abaixo*/
.buttons-to-app{  
 display: flex;
}

.app-image-apple{
    width: 60%;
    height:90%;
    
    margin-left: 20%;
}
.app-image-google{
    width: 30%;
    height:90%;
    margin-left: -10%;
}